:root {
  --text: #0b1b50;
  --link: #e19a00;
  --editor-bg: #fff;
  --border: rgba(0, 0, 0, 0.1);
  --bg-transparent: rgba(0, 0, 0, 0.05);
  --header-height: 2em;
  --inset: 2em;
}

@media (min-width: 30em) {
  :root {
    --inset: 6em;
  }
}

html[data-theme='dark'] {
  --text: #e8eaee;
  --link: #ffb000;
  --editor-bg: #2c2c2f;
  --border: rgba(255, 255, 255, 0.1);
  --bg-transparent: rgba(255, 255, 255, 0.05);
}

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to right, #f5fafc, #e9f9ff, #d8f2fc);
}

html[data-theme='dark'],
html[data-theme='dark'] body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.branding {
  width: calc(100% - var(--inset));
  color: var(--text);
  display: flex;
  align-items: flex-end;
  padding: 1em 0;
}

.branding h1 {
  margin: 0;
  display: flex;
  white-space: nowrap;
}
.branding h1 svg {
  width: 0.75em;
  margin-right: 0.25em;
}
.branding a {
  margin-left: 0.5em;
  font-size: 0.75em;
  margin-bottom: 0.33em;
  color: var(--link);
}

header {
  height: var(--header-height);
  color: var(--text);
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
  overflow: auto;
  display: flex;
  align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

header::-webkit-scrollbar {
  display: none;
}

.header-container {
  display: flex;
  font-size: 0.875em;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1em;
  width: 100%;
}

main {
  height: calc(100% - var(--header-height));
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  padding: 1em;
  color: var(--text);
  font-size: 0.8em;
  opacity: 0.75;
}
footer:hover {
  opacity: 1;
}
footer a {
  color: var(--link);
}

.container {
  width: calc(100% - var(--inset));
  height: calc(100vh - (6em + var(--header-height)));
  margin: 0 auto;
  overflow: hidden;
  background-color: var(--editor-bg);
  border: var(--border) 1px solid;
  border-radius: 0.75em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.os-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  margin-left: -1em;
}

.os-controls span {
  width: 0.75em;
  height: 0.75em;
  margin-right: 0.5em;
  background: rgba(0, 0, 0, 0.1);
  border: rgba(0, 0, 0, 0.1) 1px solid;
  border-radius: 50%;
}
.os-controls span:first-child {
  background: #ff5f56;
}
.os-controls span:nth-child(2) {
  background: #ffbd2e;
}
.os-controls span:last-child {
  background: #27c93f;
}

.options {
  display: flex;
}

.form-element {
  display: flex;
  align-items: center;
  user-select: none;
}

.form-element label {
  margin-right: 0.5em;
  margin-left: 0.15em;
  font-weight: 600;
}

.form-element:first-child label {
  border-right: var(--border) 1px solid;
  padding-right: 0.5em;
}

.theme-toggle {
  display: block;
  margin-left: 1em;
  cursor: pointer;
}
.theme-toggle svg {
  width: 1.1em;
  height: 1.1em;
  fill: var(--text);
  margin-top: 0.33em;
}

.editor {
  width: 100%;
  height: 100%;
}

.results {
  display: flex;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}
.results li {
  margin-left: 1em;
  padding-right: 0.5em;
  background: var(--bg-transparent);
  display: flex;
  align-items: center;
  border-radius: 0.5em;
  border: var(--border) 1px solid;
  font-family: monospace;
  font-size: 1.1em;
  letter-spacing: -0.05em;
  white-space: nowrap;
}
.results li span {
  padding: 0.25em 0.5em;
  margin-right: 0.5em;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.035em;
  background: var(--bg-transparent);
  border-right: var(--border) 1px solid;
}
